# ============================
# Project: Keep only key files
# ============================
# You said you want to keep:
# - spiders/ (your spiders)
# - pipelines.py
# - sncf_api.py
# - requirements.txt
# Everything else in project root is ignored by default.

*
!.gitignore
!README.md
!requirements.txt

# Unignore the main folders
!yeu/
!yeu/yeu/
!yeu/yeu/spiders/
!sncf/

# Keep only key files
!yeu/scrapy.cfg
!yeu/yeu/items.py
!yeu/yeu/middlewares.py
!yeu/yeu/pipelines.py
!yeu/yeu/settings.py
!yeu/yeu/spiders/yc_boat_spider.py
!sncf/sncf_api.py

# Keeping Docker Image builder files
!Dockerfile
!.dockerignore
!set_python_env.sh
